certifi==2026.2.25
charset-normalizer==3.5.1
greenlet==3.3.2
idna==3.20
numpy==2.4.3
pandas==3.0.6
psycopg==3.3.5
psycopg-binary==3.3.6
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
pytest==9.1.1
requests==2.33.0
six==1.17.0
SQLAlchemy==2.0.48
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.8.0
